﻿@model AppModel.DTOs.StoryPageContentDTO

@{
    ViewBag.Title = "About";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    @{ Html.RenderAction(TempData["action"].ToString(), TempData["controller"].ToString());}
</div>
